<!DOCTYPE html>
<html>
    <head>
        <title>
            Behold, the Internet of Bacon.
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='datetime-picker/jquery.datetimepicker.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="main">
            <div class="heading">
                <h1>THE INTERNET OF BACON</h1>
                <h2>Elaborate Monitoring System <i>(EMS)</i></h2>
            </div>
            <div class="content">
                <div id="time_selection">
                    <table>
                        <tr>
                            <td>
                                {% include 'datetime_selector.html' %}
                                {% include 'lookback_selector.html' %}
                                <div id="debug">
                                    <button onclick="update_data()">Fetch me some data.</button>
                                </div>
                            </td>
                        <td>
                            <div id="data_presentation">
                                {% include 'data_display.html' %}
                            </div>
                        </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="data">
                <div style="display:none;" id="earliest_date">{{ earliest_date }}</div>
                <div style="display:none;" id="latest_date">{{ latest_date }}</div>
            </div>
            <script>
                // Insert variables from Flask server.
                var debug_mode = {{ debug }};

                           </script>
            <script src="{{ url_for('static', filename='d3.min.js') }}"></script>
            <script src="{{ url_for('static', filename='d3-legend.min.js') }}"></script>
            <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
            <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
            <script src="{{ url_for('static', filename='datetime-picker/jquery.datetimepicker.full.js')}}"></script>
            <script src="{{ url_for('static', filename='dateformat.js') }}"></script>
            <script src="{{ url_for('static', filename='main.js') }}"></script>
        </div>
    </body>
</html>